server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: containers
    static_configs:
      - targets:
          - localhost
        labels:
          job: containerlogs
          __path__: /var/lib/docker/containers/*/*log

    pipeline_stages:
      - json:
          expressions:
            output: log
            stream: stream
            attrs:
      - json:
          expressions:
            tag:
          source: attrs
      - regex:
          expression: (?P<container_name>(?:[^|]*))\|
          source: tag
      - timestamp:
          format: RFC3339Nano
          source: time
      - labels:
          stream:
          container_name:
      - output:
          source: output

  - job_name: platform-laravel
    static_configs:
      - targets:
          - localhost
        labels:
          job: laravellogs
          container_name: platform-app
          __path__: /platform-logs/laravel.log

    pipeline_stages:
      - regex:
          expression: '^\[(?P<timestamp>\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2})\] (?P<env>\w+)\.(?P<level>\w+): (?P<message>.*)$'
      - regex:
          expression: '^(?P<json_data>\{.*\})$'
          source: message
      - json:
          expressions:
            json_message: message
            json_level_name: level_name
            json_datetime: datetime
            json_extra: extra
            json_context: context
          source: json_data
      - template:
          source: final_message
          template: '{{ if .json_message }}{{ .json_message }}{{ else }}{{ .message }}{{ end }}'
      - timestamp:
          format: '2006-01-02 15:04:05'
          source: timestamp
      - labels:
          level:
          env:

  # Additional scrape config for system logs
  - job_name: syslog
    static_configs:
      - targets:
          - localhost
        labels:
          job: syslog
          __path__: /var/log/syslog

  # Additional scrape config for auth logs
  - job_name: authlog
    static_configs:
      - targets:
          - localhost
        labels:
          job: authlog
          __path__: /var/log/auth.log
